/**
 * WHAT IS THIS FILE?
 *
 * Globally applied styles. No matter which components are in the page or matching route,
 * the styles in here will be applied to the Document, without any sort of CSS scoping.
 *
 */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
:root{
--color-primary: hsl(0, 0%, 0%);
--color-secondary: hsl(0, 0%, 50%);
--color-text-base: hsl(0, 0%, 100%);
--color-bg-primary: hsl(0, 0%, 100%);
}

*{
  @apply transition-colors duration-500 ease-in-out;
}

.dark-green {

  --color-primary: hsl(120, 100%, 20%);
  --color-secondary: hsl(0, 0%, 0%);
  --color-text-base: hsl(0, 0%, 100%);
  --color-bg-primary: hsl(0, 0%, 0%);
}

.dark-blue {

  --color-primary: hsl(220, 100%, 23%);
  --color-secondary: hsl(0, 0%, 0%);
  --color-text-base: hsl(0, 0%, 100%);
  --color-bg-primary: hsl(0, 50%, 1%);
}

.light-green {

  --color-primary: hsl(120, 100%, 50%);
  --color-secondary: hsl(120, 100%, 70%);
  --color-text-base: hsl(0, 0%, 100%);
--color-bg-primary: hsl(0, 0%, 100%);
}

.light-blue {

  --color-primary: hsl(220, 100%, 50%);
  --color-secondary: hsl(220, 100%, 70%);
  --color-text-base: hsl(0, 0%, 100%);
--color-bg-primary: hsl(0, 0%, 100%);
  
}

.dark-red {

  --color-primary: hsl(0, 100%, 20%);
  --color-secondary: hsl(0, 0%, 0%);
  --color-text-base: hsl(0, 0%, 100%);
  --color-bg-primary: hsl(0, 0%, 0%);
}

.dark-purple {

  --color-primary: hsl(266, 100%, 23%);
  --color-secondary: hsl(0, 0%, 0%);
  --color-text-base: hsl(0, 0%, 100%);
  --color-bg-primary: hsl(0, 50%, 1%);
}

.light-red {

  --color-primary: hsl(0, 73%, 58%);
  --color-secondary: hsl(120, 100%, 70%);
  --color-text-base: hsl(0, 0%, 100%);
--color-bg-primary: hsl(0, 0%, 100%);
}

.light-purple {

  --color-primary: hsl(285, 100%, 50%);
  --color-secondary: hsl(220, 100%, 70%);
  --color-text-base: hsl(0, 0%, 100%);
--color-bg-primary: hsl(0, 0%, 100%);
  
}

}